<% content_for :title, "Editing task" %>

<h1>Editing task</h1>

<%= render partial: "form", locals: { task: @task, edit: true } %>

<br>

<div>
  <%= link_to "Show this task", @task %> |
  <%= link_to "Back to tasks", tasks_path %>
</div>
