<% content_for :title, "Notes" %>

<div class="h-14 flex flex-row justify-center my-4" data-controller="card">
  <!-- Add search tag afterwards -->
  <%= button_tag 'Create',
                 class: 'w-1/6 px-2 bg-red-600 hover:shadow-[1px_1px_3px_rgba(0,0,0,0.2)]',
                 "data-card-action" => "card#create" %>
</div>

<div id="workspace" class="mb-4">
  <div class="mx-auto"> <!-- TODO: not working as it should -->
    <div id="tasks" class="flex flex-row flex-wrap flex-1">
      <% @tasks.each_with_index do |task, idx| %>
        <%= render partial: "shared/card", locals: { task: task, number: idx + 1 } %>
      <% end %>
    </div>
  </div>

  <%# will_paginate @tasks, class: "bg-gray-300 mt-4 box-border p-2" %>
<div>