<% content_for :title, "Cards" %>

<div data-controller="card-generator">
  <div class="h-14 my-4">
    <%= button_to 'Create',
                  card_cards_path,
                  method: :post,
                  data: { turbo: true, action: 'card-generator#toggleSlide', 'card-generator-target' => 'createButton' },
                  form: { class: 'w-full flex justify-center' },
                  class: 'w-1/6 px-2 bg-red-600 hover:shadow-[1px_1px_3px_rgba(0,0,0,0.2)]' %>
  </div>

  <div id="new-card"
      class="flex justify-center transition-all duration-[1.3s] ease-in-out max-h-0 overflow-hidden"
      data-card-generator-target="newCard"></div>
</div>

<div id="workspace" class="mb-4">
  <div class="mx-auto">
    <div id="cards" class="flex flex-row flex-wrap flex-1">
      <% if @cards.any? %>
          <% @cards.each do |card| %>
            <%= render partial: "card", locals: { card: card, new_card: false } %>
          <% end %>
      <% else %>
        <h2 id="no-card-message" class="w-full flex justify-center text-3xl font-semibold text-red-700">
          No cards yet.
        </h2>
      <% end %>
    </div>
  </div>
<div>
