<p>
  Hey, <strong><%= @user.username %></strong>.
</p>
<p>
  Your task, <strong><%= @task.title %><strong> is overdue with Due Date: <strong><%= @task.due_date.strftime("%Y-%m-%d, %H:%M:%S") %><strong>.
</p>