<header id="user-bar" class="bg-red-500 h-14 flex flex-row-reverse">
  <div class="text-white my-auto mr-6">
    <% unless current_user.nil? %>
      <%= button_tag(id: "current-user-logout", class: "h-100 flex flex-row") do %>
        <%= current_user.username %>
        <svg class="w-2.5 my-auto ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
        </svg>
      <% end %>
    <% end %>
  </div>
  <div id="dropdown" class="fixed my-14 right-4 z-10 hidden rounded-lg w-28 bg-gray-700">
    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="current-user-logout">
      <li>
        <%= button_to("Logout", session_url(current_user&.id), method: :delete, class: "w-full block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white") unless current_user.nil? %>
      </li>
    </ul>
  </div>
</header>

<script>
  document.querySelector('#current-user-logout').addEventListener('click', function() {
    const menu = document.querySelector('#dropdown');
    menu.classList.toggle('hidden');

    document.querySelector('#user-bar').addEventListener('mouseleave', function() {
      menu.classList.add('hidden');
    });
  });

  
</script>